#include <windows.h>
#include <commctrl.h>
#include "startwin.editor.h"
#include "dialog.h"

RSRC_ICON ICON "rsrc/swpbuild.ico"
RSRC_BMP BITMAP "rsrc/swpbuild.bmp"
WIN_DIALOGWINBMP BITMAP "rsrc/swpbuild_dialog.bmp"
WIN_CONFIGWINBMP BITMAP "rsrc/swpbuild_config.bmp"

WIN_STARTWIN DIALOGEX DISCARDABLE  20, 40, 260, 200
STYLE DS_MODALFRAME | DS_CENTER | DS_SETFONT | DS_FIXEDSYS | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
CAPTION "Startup"
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "", WIN_STARTWIN_BITMAP, "STATIC", SS_BITMAP | WS_CHILD | WS_VISIBLE, 0, 0, 32, 32
	CONTROL "", WIN_STARTWIN_TABCTL, WC_TABCONTROL, WS_CLIPSIBLINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 5, 250, 170
	CONTROL "&Start", WIN_STARTWIN_START, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 180, 48, 14
	CONTROL "&Cancel", WIN_STARTWIN_CANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 207, 180, 48, 14

	CONTROL "", WIN_STARTWIN_MESSAGES, "EDIT", ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VSCROLL, 0, 0, 32, 32
END

WIN_STARTWINPAGE_CONFIG DIALOGEX DISCARDABLE  20, 40, 279, 168
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
CAPTION "Dialog"
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "&2D Video mode:",   -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 8, 50, 8
	CONTROL "",            IDC2DVMODE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 6, 80, 56
	CONTROL "&Fullscreen", IDCFULLSCREEN, "BUTTON", BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 8, 49, 10
	CONTROL "&3D Video mode:",   -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 24, 50, 8
	CONTROL "",            IDC3DVMODE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 22, 80, 56
	CONTROL "&Always show configuration on start", IDCALWAYSSHOW, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 118, 116, 140, 8
END

WIN_DIALOGWIN DIALOGEX DISCARDABLE  20, 40, 320, 300
STYLE DS_MODALFRAME | DS_CENTER | DS_SHELLFONT | WS_CAPTION | WS_POPUP | WS_VISIBLE | DS_SYSMODAL
CAPTION "SWPBUILD Menu"
FONT 10, "MS Shell Dlg"
BEGIN
	CONTROL "", WIN_DIALOGWIN_ITEMBITMAP, "STATIC", SS_BITMAP | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 5, 5, 60, 300  // Left, Top, Width, Height
	CONTROL "Options", -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 40, 2, 175, 135

	CONTROL "&1 - Quit SWPBUILD with saving.",    ID_QUITSAVE, "BUTTON", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 50, 10, 130, 14
	CONTROL "&2 - Quit SWPBUILD without saving.", ID_QUITNOSAVE, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP, 50, 25, 130, 14

	CONTROL "&3 - Play the saved working map.",   ID_PLAYMAP, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP, 50, 45, 130, 14

	CONTROL "&4 - Save the working map.",         ID_SAVEMAP, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP, 50, 65, 130, 14

	CONTROL "&5 - View textures at  64 x 64.",    ID_VIEW64, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP, 50, 85, 130, 14
	CONTROL "&6 - View textures at 128 x 128.",   ID_VIEW128, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP, 50, 100, 130, 14
	CONTROL "&7 - View textures at 256 x 256.",   ID_VIEW256, "BUTTON", BS_AUTORADIOBUTTON | WS_TABSTOP, 50, 115, 130, 14

	CONTROL "&Help",    ID_HELP, "BUTTON", BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  40, 140, 40, 12
	CONTROL "Con&figs", ID_CONFIG, "BUTTON", BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  85, 140, 40, 12
	CONTROL "&Submit",  ID_SUBMIT, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 140, 40, 12 // 102,125,50
	CONTROL "&Cancel",  ID_CANCEL, "BUTTON", BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 175, 140, 40, 12
END

WIN_CONFIGWIN DIALOGEX DISCARDABLE  20, 40, 320, 285
STYLE DS_MODALFRAME | DS_CENTER | DS_SHELLFONT | WS_CAPTION | WS_POPUP | WS_VISIBLE | DS_SYSMODAL
CAPTION "SWPBUILD Configs"
FONT 10, "MS Shell Dlg"
BEGIN
	CONTROL "",             WIN_CONFIGWIN_ITEMBITMAP, "STATIC", SS_BITMAP | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 5, 5, 60, 285  // Left, Top, Width, Height
	CONTROL "Configs",       -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 40, 2, 175, 120

    CONTROL "  Fullscreen", ID_FULLSCREEN, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 50, 10, 130, 14

    CONTROL "Resolution:",   -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 50, 30, 70, 14
    CONTROL "",             ID_VIDEORES, "COMBOBOX", CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 110, 30, 60, 60

    CONTROL "Color Depth:",  -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 50, 50, 70, 14
    CONTROL "",             ID_VIDEOBPP, "COMBOBOX", CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 110, 50, 60, 45

    CONTROL "Refreshrate:",  -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 50, 70, 70, 14
    CONTROL "",             ID_VREFRESH, "COMBOBOX", CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 110, 70, 60, 45

    CONTROL "Brightness:",   -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 50, 90, 70, 14
    CONTROL "",             ID_VBRIGHT, "COMBOBOX", CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 110, 90, 60, 75

	CONTROL "&Save and Exit", ID_ACCEPT, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 40, 125, 100, 12
	CONTROL "&Cancel", ID_CANSEL, "BUTTON", BS_DEFPUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 125, 50, 12
END

1 24 "rsrc/manifest.build.xml"
