#include <windows.h>
#include <commctrl.h>
#include "startwin.editor.h"

#ifdef SWPBUILD
RSRC_ICON ICON "rsrc/swpbuild.ico"
150 BITMAP "rsrc/swpbuild_150.bmp"
350 BITMAP "rsrc/swpbuild_350.bmp"
550 BITMAP "rsrc/swpbuild_550.bmp"
#else
RSRC_ICON ICON "rsrc/build_icon.ico"
RSRC_BMP BITMAP "rsrc/build.bmp"
#endif

#ifdef SWPBUILD
WIN_STARTWIN DIALOGEX DISCARDABLE  20, 40, 265, 233
STYLE DS_FIXEDSYS | DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_SYSMENU | WS_DLGFRAME | WS_BORDER | WS_VISIBLE | NOT WS_POPUP // 0x10C808C8L
#else
WIN_STARTWIN DIALOGEX DISCARDABLE  20, 40, 260, 200
STYLE DS_MODALFRAME | DS_CENTER | DS_SETFONT | DS_FIXEDSYS | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
#endif
CAPTION "Startup"
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "", WIN_STARTWIN_BITMAP, "STATIC", SS_BITMAP | WS_CHILD | WS_VISIBLE, 0, 0, 32, 32
	CONTROL "", WIN_STARTWIN_TABCTL, WC_TABCONTROL, WS_CLIPSIBLINGS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 5, 250, 170
	CONTROL "&Start", WIN_STARTWIN_START, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 154, 180, 48, 14
	CONTROL "&Cancel", WIN_STARTWIN_CANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 207, 180, 48, 14

	CONTROL "", WIN_STARTWIN_MESSAGES, "EDIT", ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VSCROLL, 0, 0, 32, 32

#ifdef SWPBUILD
    CONTROL "", 160, "static", SS_BITMAP | WS_VISIBLE | WS_CHILD, 5, 5, 255, 255
#endif
END

WIN_STARTWINPAGE_CONFIG DIALOGEX DISCARDABLE  20, 40, 279, 168
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
CAPTION "Dialog"
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "&2D Video mode:",   -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 8, 50, 8
	CONTROL "",            IDC2DVMODE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 6, 80, 56
	CONTROL "&Fullscreen", IDCFULLSCREEN, "BUTTON", BS_CHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 148, 8, 49, 10
	CONTROL "&3D Video mode:",   -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 24, 50, 8
	CONTROL "",            IDC3DVMODE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 22, 80, 56
	CONTROL "&Always show configuration on start", IDCALWAYSSHOW, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 118, 116, 140, 8
END

#ifdef SWPBUILD
3000 DIALOGEX 20, 40, 320, 300
  LANGUAGE LANG_NEUTRAL,SUBLANG_NEUTRAL // Language neutral
  CAPTION "SwpBuild Menu"
  EXSTYLE 0 // 0x00000000L
  STYLE DS_SYSMODAL | DS_FIXEDSYS | DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_DLGFRAME | WS_BORDER | WS_VISIBLE | WS_POPUP | NOT WS_SYSMENU // 0x90C008CAL
  FONT 10, "MS Shell Dlg", 0, 0, 1
BEGIN
  CONTROL "", 340, "static", SS_BITMAP | SS_SUNKEN | WS_VISIBLE | WS_CHILD, 5, 5, 60, 300
  CONTROL "Options", -1, "button", BS_GROUPBOX | WS_VISIBLE | WS_CHILD, 40, 2, 175, 135
  CONTROL "&1 - Quit SwpBuild with saving.", 301, "button", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP | WS_VISIBLE | WS_CHILD, 50, 10, 130, 14
  CONTROL "&2 - Quit SwpBuild without saving.", 302, "button", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_VISIBLE | WS_CHILD, 50, 25, 130, 14
  CONTROL "&3 - Play the saved working map.", 303, "button", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_VISIBLE | WS_CHILD, 50, 45, 130, 14
  CONTROL "&4 - Save the working map.", 304, "button", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_VISIBLE | WS_CHILD, 50, 65, 130, 14
  CONTROL "&5 - View textures at  64 x 64.", 305, "button", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_VISIBLE | WS_CHILD, 50, 85, 130, 14
  CONTROL "&6 - View textures at 128 x 128.", 306, "button", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_VISIBLE | WS_CHILD, 50, 100, 130, 14
  CONTROL "&7 - View textures at 256 x 256.", 307, "button", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_VISIBLE | WS_CHILD, 50, 115, 130, 14
  CONTROL "&Help", 320, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE | WS_CHILD, 40, 140, 40, 12
  CONTROL "Con&figs", 321, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE | WS_CHILD, 85, 140, 40, 12
  CONTROL "&Submit", 322, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_VISIBLE | WS_CHILD, 130, 140, 40, 12
  CONTROL "&Cancel", 323, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE | WS_CHILD, 175, 140, 40, 12
END

5000 DIALOGEX 20, 40, 320, 285
  LANGUAGE LANG_NEUTRAL,SUBLANG_NEUTRAL // Language neutral
  CAPTION "SwpBuild Configs"
  EXSTYLE 0 // 0x00000000L
  STYLE DS_SYSMODAL | DS_FIXEDSYS | DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_DLGFRAME | WS_BORDER | WS_VISIBLE | WS_POPUP | NOT WS_SYSMENU // 0x90C008CAL
  FONT 10, "MS Shell Dlg", 0, 0, 1
BEGIN
  CONTROL "", 510, "static", SS_BITMAP | SS_SUNKEN | WS_VISIBLE | WS_CHILD, 5, 5, 60, 285
  CONTROL "Configs", -1, "button", BS_GROUPBOX | WS_VISIBLE | WS_CHILD, 40, 2, 175, 120
  CONTROL "  Fullscreen", 501, "button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_VISIBLE | WS_CHILD, 50, 10, 130, 14
  CONTROL "Resolution:", -1, "static", SS_LEFT | WS_VISIBLE | WS_CHILD, 50, 30, 70, 14
  CONTROL "", 502, "combobox", CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_TABSTOP | WS_VSCROLL | WS_VISIBLE | WS_CHILD, 110, 30, 60, 60
  CONTROL "Color Depth:", -1, "static", SS_LEFT | WS_VISIBLE | WS_CHILD, 50, 50, 70, 14
  CONTROL "", 503, "combobox", CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_TABSTOP | WS_VSCROLL | WS_VISIBLE | WS_CHILD, 110, 50, 60, 45
  CONTROL "Refreshrate:", -1, "static", SS_LEFT | WS_VISIBLE | WS_CHILD, 50, 70, 70, 14
  CONTROL "", 504, "combobox", CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_TABSTOP | WS_VSCROLL | WS_VISIBLE | WS_CHILD, 110, 70, 60, 45
  CONTROL "Brightness:", -1, "static", SS_LEFT | WS_VISIBLE | WS_CHILD, 50, 90, 70, 14
  CONTROL "", 505, "combobox", CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_TABSTOP | WS_VSCROLL | WS_VISIBLE | WS_CHILD, 110, 90, 60, 75
  CONTROL "&Save and Exit SwpBuild", 522, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE | WS_CHILD, 40, 125, 100, 12
  CONTROL "&Cancel", 523, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_VISIBLE | WS_CHILD, 165, 125, 50, 12
END
#endif

1 24 "rsrc/manifest.build.xml"
