
#include <windows.h>
#include <commctrl.h>
#include "startwin.game.h"

RSRC_ICON ICON "rsrc/swp.ico"
RSRC_BMP BITMAP "rsrc/swp.bmp"

WIN_STARTWIN DIALOGEX DISCARDABLE  20, 40, 280, 300
STYLE DS_MODALFRAME | DS_CENTER | DS_SETFONT | DS_FIXEDSYS | WS_OVERLAPPED | WS_CAPTION | WS_VISIBLE | WS_SYSMENU | DS_SETFOREGROUND //| DS_SYSMODAL
CAPTION "Startup"
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "", WIN_STARTWIN_BITMAP, "STATIC", SS_BITMAP | WS_CHILD | WS_VISIBLE, 0, 0, 32, 32
	CONTROL "", WIN_STARTWIN_TABCTL, WC_TABCONTROL, WS_CLIPSIBLINGS | WS_CHILD | WS_VISIBLE | LBS_NOTIFY | WS_TABSTOP, 5, 5, 270, 272
	CONTROL "&Help",     WIN_STARTWIN_TBHELP, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP,   5, 282, 50, 14
	CONTROL "&Deselect", WIN_STARTWIN_ABORT,  "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  65, 282, 50, 14
	CONTROL "&Start",    WIN_STARTWIN_START, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 282, 50, 14
	CONTROL "&Cancel",   WIN_STARTWIN_CANCEL, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 225, 282, 50, 14
	CONTROL "", WIN_STARTWIN_MESSAGES, "EDIT", WS_DLGFRAME | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VSCROLL, 0, 0, 32, 32
END

WIN_STARTWINPAGE_MEDIA DIALOGEX DISCARDABLE  20, 40, 280, 252
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
CAPTION "Dialog"
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "",               -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 1, 0, 260, 90
	CONTROL "&Video mode:",   -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 10, 50, 8
	CONTROL "",               IDVIDMODE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 8, 110, 56
	CONTROL " &Fullscreen",   IDFULLSC, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 10, 49, 10

	CONTROL "&Brightness:",   -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 28, 90, 8
	CONTROL "",               IDBRIGHT, "msctls_trackbar32", WS_CHILD | WS_VISIBLE | TBS_HORZ | TBS_NOTICKS | TBS_ENABLESELRANGE, 55, 27, 120, 15
	CONTROL " &Widescreen",   IDWIDESC, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 28, 49, 10

	CONTROL "&Monitor:",      -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 45, 90, 8
	CONTROL " LCD",           IDMONLCD, "BUTTON", BS_AUTORADIOBUTTON | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 60, 45, 36, 10
	CONTROL " CRT",           IDMONCRT, "BUTTON", BS_AUTORADIOBUTTON | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 45, 31, 10

	CONTROL "Options:",       -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 6, 60, 90, 8
	CONTROL " Texture Caching",  IDTCACHE, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  60, 60, 80, 8
	CONTROL " Highres Textures", IDHTILES, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 60, 80, 8
	CONTROL " Texture Compression", IDCOMPRN, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  60, 75, 80, 8
	CONTROL " Highres Models",   IDHMODEL, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 75, 80, 8

    CONTROL "",               -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 1, 90, 260, 122
	CONTROL "Audio:",         -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 100, 50, 8
	CONTROL " Sound Enable",  IDSOUNDENABLE, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 100, 55, 8
	CONTROL " Music Enable",  IDMUSICENABLE, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 100, 55, 8

	CONTROL "Midi device:",   -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 118, 100, 8
	CONTROL "",               IDMIDIDEV, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 116, 170, 56

	CONTROL "C&D drive:",     -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 140, 80, 8
	CONTROL "",               IDCCDADEV, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 138, 70, 56
    CONTROL " Play CD",       IDPLAYCD, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 140, 55, 8

	CONTROL "Voices:",        -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 160, 50, 8
	CONTROL "",               IDVOICES, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 158, 70, 56
    CONTROL " Flip Stereo",   IDSTEREO, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 162, 75, 8

	CONTROL "Sample Rate:",   -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 180, 50, 8
	CONTROL "",               IDSAMPLE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 178, 70, 56

	CONTROL " 8-bit",          IDSOUND8BIT,  "BUTTON", BS_AUTORADIOBUTTON | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 150, 180, 31, 10
	CONTROL " 16-bit",         IDSOUND16BIT, "BUTTON", BS_AUTORADIOBUTTON | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 180, 36, 10

	CONTROL " Ambience",      IDAMBENC, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP,  60, 198, 80, 8
	CONTROL " Wang Talk",     IDWANGTK, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 180, 198, 80, 8
END

WIN_STARTWINPAGE_GAME DIALOGEX DISCARDABLE 20, 40, 280, 252
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
CAPTION "Dialog"
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "User Addons",    -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 4, 3, 72, 10
	CONTROL "",                IDDIRGM, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 3, 14, 82, 12
	CONTROL "",                IDGDATA, "LISTBOX", LBS_NOINTEGRALHEIGHT | LBS_NOTIFY | LBS_SORT | WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 3, 30, 82, 75
	CONTROL "Internal Maps for",-1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 4, 107, 72, 10
	CONTROL "Default Game",    IDLBINT, "EDIT", LBS_NOINTEGRALHEIGHT | SS_CENTER | WS_CHILD | ES_READONLY | WS_VISIBLE, 4, 115, 72, 10
	CONTROL "",                IDGMAPS, "LISTBOX", LBS_NOINTEGRALHEIGHT | LBS_NOTIFY | WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 3, 126, 82, 67

    CONTROL "User Maps",      -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 91, 3, 75, 10
    CONTROL "",                IDDIRSP, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 90, 14, 85, 12
    CONTROL "",                IDMDATA, "LISTBOX", LBS_NOINTEGRALHEIGHT | LBS_NOTIFY | LBS_SORT | WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 90, 30, 85, 147
    CONTROL "",                IDSKILL, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 90, 180, 85, 56

	CONTROL "User Music",      -1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 181, 3, 71, 8
	CONTROL "",                IDMFOLD, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 180, 14, 81, 56
	CONTROL "",                IDMUSIC, "LISTBOX", LBS_NOINTEGRALHEIGHT | LBS_SORT | WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 180, 30, 81, 75
	CONTROL "Saved Games for",-1, "STATIC", SS_CENTER | WS_CHILD | WS_VISIBLE, 181, 107, 71, 8
	CONTROL "Default Game",    IDLBSAV, "EDIT", LBS_NOINTEGRALHEIGHT | SS_CENTER | WS_CHILD | ES_READONLY | WS_VISIBLE, 180, 115, 71, 10
	CONTROL "",                IDSDATA, "LISTBOX", LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 180, 126, 81, 67

    CONTROL "",               -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 3, 192, 258, 20
  	CONTROL " &Disable Default HighRes Pack", IDHIRES, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 200, 120, 8
	CONTROL " &Always show Menu at startup",  IDMSHOW, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 145, 200, 110, 8
END

WIN_STARTWINPAGE_MULT DIALOGEX DISCARDABLE 20, 40, 280, 252
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
CAPTION "Dialog"
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "",            -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 1, 0, 153, 90
	CONTROL "Host Only",   -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 53, 7, 90, 8

	CONTROL "Gametype:",   -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 19, 100, 8
	CONTROL "",                IDUTYPE, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 53, 17, 95, 12
	CONTROL "Monsters:",   -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 36, 100, 8
	CONTROL "",                IDUMONS, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 53, 34, 95, 12
	CONTROL "TimeLimit:",  -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 53, 100, 8
	CONTROL "",                IDUTIME, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 53, 51, 95, 12
	CONTROL "FragLimit:",  -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 70, 100, 8
	CONTROL "",                IDUFRAG, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 53, 68, 95, 12

	CONTROL "",            -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE,  1, 85, 153, 90
	CONTROL "Host and Client", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 53, 91, 100, 8
	CONTROL "Player Name:",-1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 104, 100, 8
	CONTROL "",                IDUNAME, "EDIT", LBS_NOINTEGRALHEIGHT | LBS_USETABSTOPS | WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP, 53, 102, 95, 12
	CONTROL "Opponent IP:",-1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 121, 100, 8
	CONTROL "",                IDUIPAD, "EDIT", LBS_NOINTEGRALHEIGHT | LBS_USETABSTOPS | WS_CHILD | WS_BORDER | WS_VISIBLE | WS_TABSTOP, 53, 119, 95, 12
	CONTROL "IP Listing:", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 138, 100, 8
	CONTROL "",                IDUIPPS, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 53, 136, 95, 12
	CONTROL "Color:",      -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 5, 155, 100, 8
	CONTROL "",                IDUCOLR, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 53, 153, 95, 12

	CONTROL "",            -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 1, 170, 153, 42
	CONTROL " Host a Game",    IDUHOST, "BUTTON", BS_AUTORADIOBUTTON | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 180, 60, 10
	CONTROL " Join a Game",    IDUJOIN, "BUTTON", BS_AUTORADIOBUTTON | BS_LEFT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 85, 180, 60, 10

	CONTROL " &Select Multiplay Game", IDWBSEL, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 40, 198, 100, 8

    CONTROL "",            -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 155, 0, 107, 175
	CONTROL " Wangbang Maps", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 180, 7, 70, 10
	CONTROL "",                IDDIRWB, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 161, 17, 96, 12
	CONTROL "",                IDMAPWB, "LISTBOX", LBS_NOINTEGRALHEIGHT | LBS_NOTIFY | WS_CHILD | WS_BORDER | WS_VISIBLE | WS_VSCROLL, 161, 34, 96, 134

    CONTROL "",            -1, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 155, 170, 107, 42
	CONTROL "The Host must be the fisrt to",  -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 162, 189, 100, 8
	CONTROL "start and last to leave game.",  -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 162, 197, 100, 8
END

WIN_STARTWINPAGE_ABOUT DIALOGEX DISCARDABLE 20, 40, 280, 252
STYLE DS_SETFONT | DS_FIXEDSYS | DS_CONTROL | WS_CHILD
CAPTION "Dialog"
FONT 8, "MS Shell Dlg"
BEGIN
	CONTROL "",                IDAHELP, "LISTBOX", LBS_NOINTEGRALHEIGHT | LBS_USETABSTOPS | LBS_HASSTRINGS | WS_CHILD | WS_DLGFRAME | WS_VISIBLE | WS_VSCROLL, 2, 4, 260, 205
END

1 24 "rsrc/manifest.game.xml"
